{% extends "base.html" %}

{% block content %}

 Company name:      {{ company_data.company_name }} <br>
 Lodging Facility:  {{ company_data.lodging }} <br>
 Home Delivery:     {{ company_data.home_delivery }} <br>
 Cuisine :          {{ company_data.cuisine }} <br>
 Email id:          {{ company_data.company.email}}<br>
 Contact NO.:       {{ company_data.contact_no }} <br> <br> <br>
 
 
  <a href ="/foodline/deletecompany/{{ company_data.id }}">Delete {{ company_data.company_name }}</a>
<br> <br>

 
 {% endblock %}
