{% extends "base.html" %}

{% block content %}

 First Name :      {{ customer_data.customer.first_name }} <br>
 Last Name  :      {{ customer_data.customer.last_name }} <br>
 Address :         {{ customer_data.address }} <br>
 Email id :        {{ customer_data.customer.email}}<br>
 Contact No.:      {{ customer_data.contact_no }} <br>

 <br><br><br>           
 
 <a href ="/foodline/deletecustomer/{{ customer_data.id }}">Delete  {{ customer_data.customer.username }} </a>
     
 
    

{% endblock %} 
