{% extends "base.html" %}

{% block content %}

<center>
<div id="divhome">        




<blockquote class="twitter-tweet"><p>Feel like I'm in the line to heaven...hope white Jesus shows up soon... <a href="https://twitter.com/search/%23foodline">#foodline</a> (@ Regal Majestic Stadium 20 & IMAX) <a href="http://t.co/QjBQhGoQ" title="http://4sq.com/ynzYhv">4sq.com/ynzYhv</a></p>&mdash; My Name is Not Marcy (@MercyC) <a href="https://twitter.com/MercyC/status/160826577242947584">January 21, 2012</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h1> Welcome to Food Line </h1>
 
    
<a class="twitter-timeline"  href="https://twitter.com/search?q=%23Foodline"  data-widget-id="308931015894765568">Tweets about "#Foodline"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    
    
</center>


<a href="{% url company.views.customerlist %}"> view restaurants</a> &nbsp &nbsp
<br><br>
<a href="{% url company.views.recipeslist %}"> view recipes </a> <br><br>

{% if request.user.is_anonymous %}
<a href= "{% url company.views.registercustomer %}"> Events </a> <br><br>
{% else %}

<a href= "{% url company.views.eventsinfo %}"> Events </a> <br><br>
 
 {% endif %}

</div>



{% if request.user.is_staff %}
 
 <a href ="{% url company.views.manage_customers %}"> Manage Customers </a> <br><br> 
 
 <a href ="{% url company.views.manage_companies %}"> Manage Companies </a> <br><br>
 
{% endif %} 

{% endblock  %}
